.drawer-icon {
  width: 30px;
  height: 30px;
}

.drawer-link {
  text-decoration: none;
}

.divider {
  height: 1px;
  margin: 0;
  border: none;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.12);
}
