.input-container {
  marginbottom: '15px';
}

.input-title {
  font-weight: 500;
  font-size: '13px';
}

.button-text {
  color: #fff;
}

.waiting {
  font-weight: 300;
  font-size: '13px';
  color: 'rgba(0, 0, 0, 0.54)';
  position: 'relative';
  float: 'right';
}

.approval {
  color: 'green';
}

.button {
  width: 100%;
  background-color: #114770;
}

.button-disabled: {
  width: 100%;
  background-color: #9fb5c5;
}
