.input-title {
  font-weight: 500;
  font-size: 13px;
}

.button-text {
  color: #fff;
}

.button {
  width: 100%;
  background-color: #114770;
}

.button:hover {
  background-color: #9fb5c5;
}

.button-disabled: {
  width: 100%;
  background-color: #9fb5c5;
}

.input-container {
  margin-bottom: 15px;
}
