.button-link {
  text-decoration: none;
  color: #3f51b5;
}

.button-text {
  color: #fff;
}

.button {
  width: 100%;
  background-color: #114770;
}

.button:hover {
  background-color: #9fb5c5;
}

.button-disabled: {
  width: 100%;
  background-color: #9fb5c5;
}
