/* App */
:root {
  --color-blue: #114770;
  --color-lightblue: #9fb5c5;
  --color-white: #fff;
  --color-green: #30ad63;
  --color-lightGray: #e5e5e5;
  --color-gray: rgba(0, 0, 0, 0.54);
  --color-red: #ff4136;
}

* {
  font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Bulletin */
.wrapper {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.order-book {
  grid-column: col-start / span 12;
}
.order-buttons {
  grid-column: col-start / span 12;
}
.price-chart {
  grid-column: col-start / span 12;
}
@media (min-width: 960px) {
  .order-book {
    grid-column: col-start / span 8;
    grid-row: 1;
  }
  .order-buttons {
    grid-column: 9 / span 5;
    grid-row: 1 / 3;
  }
  .price-chart {
    grid-column: col-start / span 8;
    grid-row: 2;
  }
}

.bulletin-order-btns-wrapper {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  display: inline-block;
}
.bulletin-order-btns li {
  width: 100%;
}
.bulletin-order-btn {
  background-color: transparent;
  color: white;
  width: 300px;
  height: 45px;
  border-bottom: 1px solid #27597e !important;
  border-radius: 5px;
  width: 100%;
}
.bulletin-order-btn-txt {
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Connection Modal */
.button-link {
  text-decoration: none;
  color: #3f51b5;
}

.button-text {
  color: #fff;
}

.button {
  width: 100%;
  background-color: #114770;
}

.button:hover {
  background-color: #9fb5c5;
}

.button-disabled {
  width: 100%;
  background-color: #9fb5c5;
}

/* Header */
#header-nav{
  width:100%;
  height:65px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  background-color:#104874;
}
  /* logo */
.nav-logo{
  float:left;
  margin-left: 15px;
  height:58px;
  width:auto;
  margin-top:3.5px;
}
  /*links*/
#header-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 15px;
  height:100%;
}
#header-nav ul li{
  display:inline-block;
  margin:0;  
  cursor: pointer;
}
#header-nav ul li:hover{
  background-color: #0d3e65;
}
#header-nav ul li:not(:first-child) {
  border-left: 1px solid #ffffff38;
}
#header-nav ul li:last-child{
  border-right: 1px solid #ffffff38;
}
#header-nav ul li a,#header-nav ul li p{
  margin:0;
  padding:20.5px 30px;
  color: white;
}
#selected-nav{
  background-color:white;
  color: #104874;
}
  /*status*/
#header-nav .connection-status{
  float:right;
  margin-top:12.5px;
  margin-right: 15px;
}
.connected {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 7px;
  margin-left: 5px;
}
/* HowTo */
.howTo__infograph {
  width: 25em;
  margin-top: 7%;
  margin-right: 20%;
}
/* Landing */
#landing{
  text-align:center;
}
.landing-head{
  margin:2em 0 1em 0;
  color:#104874;
  font-weight:400;
}
.landing-subhead{
  font-weight: 400;
}
.landing-network-status{
  font-style: italic;
  text-transform: capitalize;
}
.landing-network-status p{
  display: inline-block;
  margin-left:10px;
}
.landing-logo{
  width:32vmax;
  margin-top:2em;
  animation:spin 240s infinite linear;
  min-width:500px;
  max-width:800px;
}
    /*network labels*/
.rinkeby-network-label{
  color:#feb236;
}
.ethereum-network-label{
  color:#008B8B;
}
.ropsten-network-label{
  color:#D23641;
}
.kovan-network-label{
  color:#4B0082;
}

/* MyPositions MyTransactions */
.link__token-address {
  color: #114770;
  text-decoration: none;
}

/* pricechart */
.pricechart__chart {
  width: 100%;
  height: 25rem;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.pricechart__item {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.pricechart__dropdown {
  position: absolute;
  right: 3em;
  top: 1em;
  z-index: 2;
  cursor: pointer;
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
}
.pricechart__dropdown-item {
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
}
/* Portfolio */
#portfolio{
  text-align:center;
}
/* Table */
.table-container{
  text-align:left;
  width:80%;
  display:inline-block;
  margin: 2em;
}
.table-container th{
  width:100%;
}