/* App */
:root {
  --color-blue: #4286f4;
  --color-lightblue: #9fb5c5;
  --color-white: #fff;
  --color-green: #30ad63;
  --color-lightGray: #e5e5e5;
  --color-gray: rgba(0, 0, 0, 0.54);
  --color-red: #ff4136;
}

* {
  font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.clickable {
  cursor: pointer;
}
.warning {
  color: red;
}
.success {
  color: green;
}
.order-book {
  border-bottom: solid 2px #ccc;
}
.order-book, .price-chart {
  margin:0 auto;
  width:70%;
  float:left;
}
.table-container.recent-trades{
  margin:0 auto;
  width:30%;
  padding-left: 8px;
  float:right;
}
.order-buttons {
  margin-top: 40px;
  margin-right: 10px;
  float: right;
  width: 28%;
  text-align: center;
}
.price-chart {
  margin: auto;
}
@media (min-width: 960px) {
  .order-book {
    grid-column: col-start / span 8;
    grid-row: 1;
  }
  .order-buttons {
    grid-column: 9 / span 5;
    grid-row: 1 / 3;
  }
  .price-chart {
    grid-column: col-start / span 8;
    grid-row: 2;
  }
}

@media only screen and (max-width : 960px) {
  .order-book, .price-chart {
    margin: 0 auto;
    width: 100%;
    float: none;
  }
  .table-container.recent-trades{
    margin: 0 auto;
    width:100%;
    float: none;
    padding: 1em;
  }
  .order-buttons {
    float: none;
    margin: 0px;
    width: 100%;
    text-align: center;
  }
  .price-chart {
    margin: auto;
  }
}

.bulletin-order-btns-wrapper {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  display: inline-block;
}
.bulletin-order-btns li {
  width: 100%;
}
.bulletin-order-btn {
  background-color: transparent;
  color: white;
  width: 300px;
  height: 45px;
  border-bottom: 1px solid #27597e !important;
  border-radius: 5px;
  width: 100%;
}
.bulletin-order-btn-txt {
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.order-btn{
 width:85%;
 height:45px;
 text-align:center;
 border-radius:5px;
 display:inline-block;
 margin: 15px 0;
cursor: pointer;
border:1px solid grey;
background-color:#4e8ed3;
color:white;
}
.order-btn-label{
  margin-top:8px;
  font-size:20px;
  cursor:pointer;
}

.order-btn-button{
  margin-top:20px;
  width:100%;
   background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
  font-size:20px;
  cursor:pointer;
}
.order-btn:hover{
  color: #4e8ed3;
  border-color: #4e8ed3;
  background-color: white;
}

.order-modal{
  z-index: 99;
  width:400px;
  display:inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  border-radius:5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding-bottom:15px;
}
.order-modal-background{
  background-color:#0000004a;
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 99;
  cursor: pointer;
}
.order-modal-head{
  margin:20px 0 25px 0;
  font-weight:400;
}

@media only screen and (max-width : 700px) {
  .order-modal {
    width: 90%;
  }
}
/* Order Form */
.buy-order-form{
  position: relative;
}
.order-input-wrapper{
  text-align: center;
  margin-top: 20px;
}
.order-input-wrapper label{
  font-size:20px;
  margin: 0 25px 7px 5px;
  vertical-align: bottom;
}

.order-input{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid grey;
  padding:7px 15px;
  margin-bottom:5px;
  display: inline-block;
}
.order-submit-btn{
  width:90%;
  margin:50px 0 5px 0;
  background-color:var(--color-blue);
  border:none;
  padding:10px 0;
  transition:all 0.3s ease;
}
.order-submit-btn:hover{
  background-color:var(--color-lightblue)!important;
}
.order-form-dropdown{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid grey;
  width:90%;
  padding:7px 15px;
  background-color:transparent;
  margin: 15px 0;
}
/* List Order */
.list-order-input{

}
/* Connection Modal */
.button-link {
  text-decoration: none;
  color: #3f51b5;
}

.button-text {
  color: #fff;
}

.button {
  width: 100%;
  background-color: #114770;
}

.button:hover {
  background-color: #9fb5c5;
}

.button-disabled {
  width: 100%;
  background-color: #9fb5c5;
}

/* Header */
#header-nav{
  width:100%;
  height:65px;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);*/
  background-color:#4e8ed3;
}
  /* logo */
.nav-logo{
  float:left;
  margin-left: 15px;
  height:58px;
  width:auto;
  margin-top:3.5px;
}
  /*links*/
#header-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 15px;
  height:100%;
}
#header-nav ul li{
  display:inline-block;
  margin:0;
  cursor: pointer;
  transition: all 0.3s ease;
}
#header-nav ul li:hover{
  background-color: #0d3e65;
}
#header-nav ul li:not(:first-child) {
  border-left: 1px solid #ffffff38;
}
#header-nav ul li:last-child{
  border-right: 1px solid #ffffff38;
}
#header-nav ul li a.disabled{
  pointer-events: none;
}
#header-nav ul li a,#header-nav ul li p{
  margin:0;
  padding:20.5px 26px;
  color: white;
}
.selected-nav{
  background-color:white;
  color: #4e8ed3 !important;
}
  /*status*/
#header-nav .connection-status{
  float:right;
  margin-top:12.5px;
  margin-right: 14px;
}
.connected {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 7px;
  margin-left: 5px;
}
/* HowTo */
.howTo__infograph {
  width: 25em;
  margin-top: 7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Landing */

#back{
  background-color: #4e8ed3;
}
#landing_container{
        float: left;
      position: relative;
      left: 50%;
}
#landing{
  margin-top:25%;
  width:70%;
  height: 80%;
  min-width: 400px;
  float: left;
  position: relative;
  left: -50%;
  background-color:white;
  border-radius:5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

#landing-logo{
          display: block;
    margin-left: auto;
    margin-right: auto;
}

#landing_text{
  display: block;
  width:80%;
  margin:40px;
  right:10%;
  text-align:left;
}

#landing_login{
    text-align: center;
    margin:20px;
    border: 4px;
    background-color:#4e8ed3;
    border-radius: 5px;
}
#landing_login_p{
padding:5px;
color:white;
}

.landing-network-status{
  font-style: italic;
  text-transform: capitalize;
}
.landing-network-status p{
  display: inline-block;
  margin-left:10px;
}
.loading-spinner {
  width: 40px;
  height: auto;
}
    /*network labels*/
.rinkeby-network-label{
  color:#feb236;
}
.ethereum-network-label{
  color:#008B8B;
}
.ropsten-network-label{
  color:#D23641;
}
.kovan-network-label{
  color:#4B0082;
}

/* MyPositions MyTransactions */
.link__token-address {
  color: #114770;
  text-decoration: none;
}

/* pricechart */
.pricechart__chart {
  width: 100%;
  height: 25rem;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  z-index: 3;
}
.pricechart__item {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.pricechart__dropdown {
  position: absolute;
  right: 3em;
  top: 1em;
  z-index: 2;
  cursor: pointer;
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
}
.pricechart__dropdown-item {
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
}
/* Portfolio */
#portfolio{
  text-align:center;
}
.cashout-form {
  padding: 20px;
}
.user-balance {
  margin-bottom: 20px;

}
.btn-theme {
  cursor: pointer;
  border:1px solid grey;
  background-color:#4e8ed3;
  color:white;
}
.btn-theme:hover{
  color: #4e8ed3;
  border-color: #4e8ed3;
  background-color: white;
}
.btn-thin {
  padding: 0.25rem 1rem;
}
.create-contract-btn{
  padding:10px 25px;
  font-size:22px;
  margin: 1em auto;
  display:inline-block;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.wide-table-container {
  text-align: left;
  padding: 0.5rem 1em 0;
  overflow-y: scroll;
}
.wide-table-container .table-title {
  font-weight: bold;
  padding: .75rem;
}
/* Table */
.table {
  font-size: 0.75rem;
}
.table thead th {
  border-bottom: none;
}
.table-container{
  text-align:left;
  display:inline-block;
  padding: 1em;
  height: 400px;
  overflow-y: scroll;
}
.table-container th{
  width:100%;
}

.terms-document {
  position: fixed;
  width:100%;
  height:100%;
  top:20px;
  left:0;
  z-index: 99;
}
.terms-document .modal-background{
  background-color:#0000004a;
  width:100%;
  height:100%;
}
.terms-document .modal{
  width:70%;
  height: 80%;
  min-width: 400px;
  display:inline-block;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color:white;
  border-radius:5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
  overflow-x: auto;
}

@media (max-width: 720px) {
  .terms-document .modal{
    width:98%;
  }
}

/* Create Contract */
.create-contract{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.create-contract .modal{
  width:550px;
  height:500px;
}

.modal-background{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:#0000004a;
  width:100%;
  height:100%;
  z-index: 99;
}

.detail-segment {
  padding-bottom: 8px;
}

.detail-segment .title {
  font-weight: bold;
  font-size: 14px;
}
.modal {
  display:inline-block;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color:white;
  border-radius:5px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow: visible;
}
#send-funds{
  width:100%;
  height:100%;
  text-align: center;
}
.created-address{
  line-height:35px;
  letter-spacing: 0.56px;
}
#send-funds h3{
  font-size: 20px;
  margin: 30px 0 0 0;
}
#send-funds button{
  width: 80%;
  font-size: 20px;
  background-color: #114770;
  border: none;
  padding: 10px 0;
  color: white;
  position: absolute;
  bottom: 15%;
  left: 10%;
  cursor:pointer;
}
/*Create Contract Form*/
.create-contract-form{
  position: relative;
  width:100%;
  height:100%;
}
.form-dropdown{
  width:37%;
  display:inline-block;
  margin: 35px 20px 0 20px;
}
.form-dropdown div div{
  margin-bottom:8px;
  font-size:22px;
}
.form-dropdown select{
  border: none;
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 8px 14px;
  cursor:pointer;
  background-color:transparent;
  box-shadow: none;
  border-bottom: 2px solid grey;
}
.form-dropdown select:focus, .form-dropdown select option:focus{
  outline: none;
  border-bottom: 2px solid #114770;
}
.form-date{
  display: inline-block;
  width: 78%;
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
}
.input-group {
  vertical-align: top;
}
div.form-date.input-group > div > div:nth-child(1){
  margin-bottom:10px
}
.form-eth-input{
  margin-top:40px;
  text-align: center;
  width:100%;
}
.input-label {
  padding-right: 20px;
}
/* div.form-eth-input.input-group div:nth-child(1){
  margin-left:30px;
}
div.form-eth-input.input-group div:nth-child(1) label{
  margin-right:30px;
  font-size:20px;
}
div.form-eth-input.input-group div:nth-child(1) input{
  padding:8px 20px;
} */
.form-submit-wrapper{
  position: absolute;
  bottom:15px;
  width:100%;
}
.form-submit{
  width:80%;
  font-size:20px;
  background-color:#114770;
  border:none;
  padding:10px 0;
}
.form-submit:hover{
  background-color:var(--color-lightblue)!important;
}
/* Input number */
.input-number{
  display:inline-block;
  margin: auto;
}
.input-error{
  display: block;
  text-align: center;
}
.input-number .input-group-append{
  display: inline-block;
}
.input-number .input-group-append span{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 8px;
}
/* Input Text Component */
.input-text{
  width:100%;

}
.input-text .input-error{
  display:block;
}
/* Unlist Form Component */
input[type="text"]{
  width:80%;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid grey;
  padding:7px 15px;
  margin-bottom:5px;
}

/* Mobile Style */

@media only screen and (max-width : 700px) {
  /* Header */
  .nav-logo {
    display: none;
  }

  #header-nav ul{
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    z-index: 9999;
    margin-left: -80vw;
    background-color:#4e8ed3;
    top:65px; /*height of header*/
    left: 0;
    -webkit-transition: all 0.6s ease;
  	-moz-transition: all 0.6s ease;
  	transition: all 0.6s ease;
  }
  #header-nav ul li{
    display: block;
    width: 38vmax;
    text-align: center;
    border: none!important;
  }
  #header-nav ul li:first-child{
    margin-top:2vmax;
  }
  .show-nav{
    margin-left: 0vw !important;
    transition: 0.6s;
  }
  .hamburger-btn{
    display: inline-block;
    cursor: pointer;
    width: 3em;
    float:left;
    margin-left:15px;
    margin-top:6px;
    margin-right:15px;
}
.hamburger-btn div{
    width:100%;
    height:3px;
    background-color:white;
    margin:11px 0;
    transition: all 0.35s ease-in-out;
    border-radius:6px;
}
.hamburger-btn-x div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger-btn-x div:nth-child(2) {
    background-color:var(--darkblue);
    opacity: 0;
    transform: rotate(1deg);
}
.hamburger-btn-x div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-14px, -10px);
    transform: rotate(47deg) translate(-14px, -10px);
}
}

@media only screen and (max-width : 450px) {
  /* Header */
  #header-nav ul li{
    width: 60vw;
  }
}
